{% extends "base.html" %}

{% load static %}

{% block extra_css %}
{% endblock %}

{% block header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mb-4 text-center">Complete!</h2>
                
                <hr class="w-75 mb-1">

                <p class="text-dark">Your subscription has started!</p>
            </div>
        </div>
    </div>
{% endblock %}