/* -------------------------- Global */

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: calc(100vh - 100px);
}

a {
    color: #dc3545;
}

a:hover {
    color: #6c757d;
    text-decoration: none;
}

.logo-font {
    padding-top: 50px;
    color: #000 !important;
}

.nav-link {
    font-size: 0.8rem;
}

.logo {
    max-height: 75px;
}

.cart-circle {
    background-color: #dc3545;
    height: 5px;
    width: 5px;
    border-radius: 5em;
}

.bg-black {
    background-color: #000000;
}

.text-black {
    color: #000000;
}

.icon {
    color: #f8f9fa !important;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}

/* -------------------------- Index/banners/carousel */

.index-banner {
    height: 88vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('/media/deathfret-index-banner-4.jpeg') no-repeat right center;
    background-size: cover;
}

.index-banner-2 {
    height: 88vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('/media/deathfret-index-banner.jpeg') no-repeat center center;
    background-size: cover;
    filter: saturate(0%)
}

.index-banner-3 {
    height: 88vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('/media/deathfret-index-banner-3.jpeg') no-repeat bottom center;
    background-size: cover;
    filter: saturate(0%)
}

.banner-text {
    font-size: 2rem;
}

/* -------------------------- Buttons */

.subscribe-button {
    min-width: 260px;
}

.btn-outline-danger {
    background: #ffffff;
    color: #dc3545 !important;
    border: 1px solid #dc3545;
}

.btn-outline-danger:hover {
    color: #ffffff !important;
}

.cart-container,
.merch-container,
.subscription-container {
    min-height: 100vh;
}

.item-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    transition: 0.2s;
}

.item-img:hover {
    filter: brightness(80%)
}

.update-link,
.remove-item {
    cursor: pointer
}

.message-container {
    position: fixed;
    top: 132px;
    right: 15px;
    z-index: 9999;
}

/* -------------------------- Toasts */

.custom-toast {
    overflow: visible;
}

.cart-toast-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------- Features (redundant) */

.feature-img {
    height: 275px;
    width: 275px;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.feature-icon {
    font-size: 32px;
}

/* -------------------------- Lessons */

.lesson-img {
    width: 420px;
    height: 315px;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.lesson-container:hover .lesson-img,
.lesson-container:hover .feature-img {
    filter: brightness(50%);
}

.lesson-container:hover .middle {
    opacity: 1;
}

.video {
    width: 420px;
    height: 315px;
}

/* -------------------------- Allauth form styling */

.allauth-form-inner-content p {
    color: #6c757d;
    margin-top: 1.75rem;
}

.allauth-form-inner-content input {
    border-color: #000000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content label::placeholder {
    color: #aab7c4;
}

/* -------------------------- Allauth social button styling */

.socialaccount_providers {
    padding-left: 0;
}

/* -------------------------- Copied from Bootstrap */
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.allauth-form-inner-content a {
	color: #dc3545;
}

.allauth-form-inner-content {
    height: 100vh;
}

/* -------------------------- Media queries */

@media (min-width: 1200px) {
    .container {
        max-width: 80%
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .header-container {
        padding-top: 100px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 100px)
    }

    .navbar-brand {
        font-size: 0.8rem;
    }

    .logo-font {
        font-size: 1.4rem;
    }

    .video {
        width: 340px;
        height: 235px;
    }
}