html {
    height: 100%;
}

body {
    height: calc(100vh - 117px);
}

.logo {
    max-height: 75px;
}

.bg-black {
    background-color: #000000;
}

.text-black {
    color: #000000;
}

.index-banner {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/media/deathfret-index-banner.jpeg') no-repeat center center;
    background-size: cover;
}

.icon {
    color: #f8f9fa !important;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}

.subscribe-button {
    min-width: 260px;
}

.btn-outline-danger {
    background: #ffffff;
    color: #dc3545 !important;
    border: 1px solid #dc3545;
}

.btn-outline-danger:hover {
    color: #ffffff !important;
}

.cart-container,
.merch-container,
.subscription-container {
    min-height: 75vh;
}

.item-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.update-link,
.remove-item {
    cursor: pointer
}

.message-container {
    position: fixed;
    top: 117px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 10px;
}

.cart-toast-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.feature-image {
    height: 320px;
    width: 320px;
    object-fit: cover;
    transition: 0.3s;
}

.feature-image:hover {

    filter: brightness(80%);
}

/* -------------------------- Allauth Form Styling */

.allauth-form-inner-content p {
    color: #6c757d;
    margin-top: 1.75rem;
}

.allauth-form-inner-content input {
    border-color: #000000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content label::placeholder {
    color: #aab7c4;
}

/* Copied from bootstrap */
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.allauth-form-inner-content a {
	color: #17a2b8;
}

/* -------------------------- Media Queries */

@media (min-width: 1200px) {
    .container {
        max-width: 80%
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .header-container {
        padding-top: 117px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 117px;
    }

    body {
        height: calc(100vh - 117px)
    }
}