<!doctype html>

{% extends "base.html" %}
{% load static %}

{% block header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <a href="{{ item.image.url }}" target="_blank">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="item-img card-img-top img-fluid">
                </a>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="item-detail-container mb-5 mt-md-5">
                    <p class="mb-0">{{ item.name }}</p>

                    <p class="lead mb-0 text-left font-weight-bold">£{{ item.price }}</p>

                    <p class="mt-3">{{ item.description }}</p>

                    <form class="form" action="{% url 'add_to_cart' item.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>

                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="99" data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'merch' %}" class="subscribe-button btn btn-outline-danger rounded-0 text-uppercase">
                                    <span class="text-uppercase">Back to store</span>
                                </a>

                                <input type="submit" class="subscribe-button btn btn-danger rounded-0 text-uppercase" value="Add to Cart">
                            </div>

                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}