<!-- Page made redundant on account of the instagram API being changed -->

{% extends "base.html" %}

{% load static %}

{% block header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <h2 class="logo-font mb-4 text-center">Our Featured Guitarists</h2>

                <hr class="w-75 py-2 mb-1">

                <div class="row">
                    {% for feature in features %}
                        <div class="col-4 mb-5 text-center lesson-container">
                            <img class="feature-img" src="{{ feature.thumbnail_url }}" alt="{{ feature.featured_artist }}">

                            <a href="{{ feature.post_url }}" target="_blank">
                                <div class="middle">
                                    <span class="icon feature-icon">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}\