<!doctype html>

{% extends "base.html" %}
{% load static %}

{% block header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="index-banner mb-3">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto text-white">
                    <h1>Deathfret Guitar<br/>Community</h1>

                    <h6 class="py-3 text-uppercase text-secondary">Join our community of extreme metal guitarists</h6>

                    <div>
                        <h5>
                            <a href="{% url 'subscribe' %}" class="subscribe-button btn btn-danger rounded-0 text-uppercase">Join now for £5/month</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="height:50vh;">
        <div class="row">
            <div class="col-12">
                <h2 class="py-3">Features</h2>

                <div class="row">
                    {% for feature in features %}
                        <div class="col-4">
                            <a href="{{ feature.post_url }}" target="_blank">
                                <img class="feature-image" src="{{ feature.thumbnail_url }}" alt="{{ feature.featured_artist }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}\