<!doctype html>

{% extends "base.html" %}
{% load static %}

{% block header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="index-banner">
            <div class="h-100">
                <div class="row h-100">
                    <div class="col-7 col-md-6 my-auto text-white">
                        <h1>Deathfret Guitar<br/>Community</h1>

                        <h6 class="py-3">Join our community of extreme metal guitarists</h6>

                        <div>
                            <h5>
                                <a href="" class="subscribe-button btn btn-danger rounded-0 text-uppercase">Join now for £5/month</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <!--Insta posts-->
        </div>
    </div>
{% endblock %}