<!doctype html>

{% load static %}

<html lang="en">
  <head>

    {% block meta %}
    <!-- Required meta tags -->
    <!-- Allow support of older internet explorer versions -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e8ed418685.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Deathfret Guitar {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <nav id="nav" class="row navbar-dark bg-black d-none d-lg-flex">
            <div class="col-12 col-lg-5 py-3 my-auto">
                <a href="{% url 'index' %}" class="navbar-brand ml-4">
                    <img class="logo" src="{% static 'deathfret-logo.png' %}" alt="deathfret-logo">
                </a>
            </div>

            <div class="col-12 col-lg-5 py-3 my-auto align-right">
                <ul class="list-inline list-unstyled text-right my-0">
                    <li class="list-inline-item dropdown">
                        <a href="#" class="text-light nav-link" id="lesson-options" data-toggle="dropdown" aria-haspopup="true" arie-expanded="false">
                            <div>
                                <p class="my-0 dropdown-toggle">Lessons </p>
                            </div>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="lesson-options">
                            <a href="{% url 'masterclasses' %}" class="dropdown-item">Masterclasses</a>
                        </div>
                    </li>

                    <li class="list-inline-item">
                        <a href="#" class="text-light nav-link" id="blog">
                            <div>
                                <p class="my-0">Blog</p>
                            </div>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="{% url 'merch' %}" class="text-light nav-link" id="store">
                            <div>
                                <p class="my-0">Store</p>
                            </div>
                        </a>
                    </li>

                    <li class="list-inline-item dropdown">
                        <a href="#" class="text-light nav-link" id="account-options" data-toggle="dropdown" aria-haspopup="true" arie-expanded="false">
                            <div>
                                <p class="my-0 dropdown-toggle">Account </p>
                            </div>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="lesson-options">
                            <!-- If the user is authenticated and a superuser, manage the site. -->
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Lesson Management</a>

                                    <a href="" class="dropdown-item">Store Management</a>
                                {% endif %}
                                <!-- Else, authenticated user can view account profile or logout -->
                                <a href="" class="dropdown-item">My Profile</a>

                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            <!-- Else, user can register or login -->
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Signup</a>

                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>

                    <!-- Add if statement for store -->
                    <li class="list-inline-item">
                        <a href="" class="text-light nav-link">
                            <div class="text-center">
                                <div>
                                    <!-- Change icon colour in css -->
                                    <i class="fas fa-shopping-cart icon-light"></i>

                                    <p class="my-0">
                                        {% if grand_total %}
                                            £{{ grand_total|floatformat:2 }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-lg-2 py-3 my-auto align-right">
                <form class="form-inline" method="GET" action="">
                    <div class="input-group">
                        <input type="text" class="form-control rounded-0 bg-dark border-0" name="q" placeholder="Search Deathfret">

                        <div class="input-group-append">
                            <button class="form-control btn btn-danger rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="page-footer font-small text-light bg-black py-3 text-center">
        <div class="container">
            <h6 class="py-3">Become a member and get full access to all resources</h6>

            <h5>
                <a href="{% url 'subscribe' %}" class="subscribe-button btn btn-danger rounded-0 text-uppercase">Join now for £5/month</a>
            </h5>
        
            <nav class="row text-secondary footer-copyright py-3">
                <div class="col-12">
                    <p>© 2020 Copyright: <a style="text-decoration:none;" class="text-light" href="https://github.com/vdgvzr" target="_blank">vdgvzr</a></p>
                </div>
            </nav>
        </div>
    </footer>

    {% block post_js %}
    {% endblock %}
  </body>
</html>