<!doctype html>

{% extends "base.html" %}

{% load static %}

{% block header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-4"></div>

            <div class="col-12 col-lg-4">
                <img class="img-fluid" src="{% static 'deathfret-logo.png' %}" alt="deathfret-logo">
            </div>

            <div class="col-4"></div>
        </div>

        <div class="row transparent-bg-2">
            <div class="col-12">
                <h2 class="logo-font text-center">Artist Masterclasses</h2>

                <div class="row">
                    <div class="col-lg-4"></div>

                    <div class="col-lg-4">
                        <h6 class="py-2 text-secondary text-center">
                            We are proud to present to your our artist masterclass series. We've collaborated with some of the industry's 
                            most accomplished and celebrated guitarists, as well as those up and coming in the scene. Whatever your ability, 
                            be sure that the wealth of experience, tips, tricks and techniques on offer is sure to take your playing and
                            musicianship to the next level.
                        </h6>
                    </div>

                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="subscription-container col-10 offset-1">
                <div class="row my-3 transparent-bg-2">
                    {% for overview in overviews %}
                        <div class="col-md-12 col-lg-6 mb-5">
                            <div class="card h-100 p-3 text-center transparent-bg-1">
                                <a href="{% if user.subscription.status == 'paid' %}{% url 'masterclass' overview.masterclass_title %}{% else %}{% url 'payment:subscribe' %}{% endif %}">
                                    <img src="{{ overview.artist.artist_image.url }}" alt="{{ overview.artist.name }}" class="item-img card-img-top img-fluid border shadow">
                                </a>

                                <h4 class="card-header text-secondary pt-3">{{ overview.masterclass_title_friendly_name }}</h4>

                                <hr class="border-white">

                                <div class="card-body">
                                    <h5 class="text-secondary font-weight-light">{{ overview.artist.artist_friendly_name }}</h5>

                                    <p class="small text-secondary text-muted text-uppercase">
                                        {{ overview.artist.skill_level1 }}{% if overview.artist.skill_level2 %}, {{ overview.artist.skill_level2 }}{% endif %}{% if overview.artist.skill_level3 %}, {{ overview.artist.skill_level3 }}{% endif %} | {{ overview.artist.discipline1 }}{% if overview.artist.discipline2 %}, {{ overview.artist.discipline2 }}{% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}