{% extends "base.html" %}

{% load static %}

{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'payment/css/subscribe.css' %}">
{% endblock %}

{% block extra_js %}
    <script>
        const create_subscription_url = "{% url 'payment:create-subscription' %}";
        const retry_invoice_url = "{% url 'payment:retry-invoice' %}";
        const on_subscription_complete_url = "{% url 'profile' %}";
    </script>
{% endblock %}

{% block header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4 text-center">Subscribe</h2>
                
                <hr class="w-75 mb-1">
            </div>
        </div>

        <div class="row my-5">
            <div class="col-12">
                <h6 class="text-center text-secondary">You are currently on the <strong class="font-weight-bold">{{ user.subscription.pricing }}</strong> plan.</h6>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-3"></div>
                {% for p in products reversed %}
                    {% if p.name != 'Signup' %}
                    <div class="col-3">
                        <div class="card shadow {% if p.name == 'Yearly' %} border border-danger {% else %} border-0 {% endif %}">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">{{p.name}}</h5>
                                
                                <p class="card-text text-muted">{{p.description|linebreaksbr}}</p>

                                {% for plan in p.plan_set.all %}
                                    <h5 >{{ plan.human_readable_price }}</h5>

                                    <div class="text-right">
                                        <input id="checkbox" onchange="document.getElementById('subscribe-card').scrollIntoView(true);" class="my-2" type="checkbox" name="{{p.name}}" value="{{p.id}}" onclick="planSelect('{{p.name}}' ,'{{plan.human_readable_price}}', '{{plan.id}}')">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            <div class="col-3"></div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <div id="subscribe-card"></div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="flex justify-center mx-auto my-5">
                <div>
                    <div class="card-body">
						<h5 class="logo-font text-center my-3">Subscribe now to gain access to all our courses!</h5>

						<p class="text-muted text-center">Enter card details.  Your subscription will start immediately!</p>

						<div class="row">
							<div class="col-6 text-muted">
								<p>Plan:</p>

								<p>Total:</p>
							</div>

							<div class="col-6 text-right">
								<p id="plan"></p>

								<p id="price"></p>

								<p hidden id="priceId"></p>
							</div>

						</div>

						<br>

                        <form id="subscription-form">
                            {% csrf_token %}

                            <div id="subscribe-card-element"><!--Stripe.js injects the Card Element--></div>

                            <button id="submit" type="submit">
                                <div class="spinner hidden" id="spinner"></div>

                                <span id="button-text">Pay</span>
                            </button>
                            
                            <p id="subscribe-card-errors" role="alert"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'payment/js/subscribe.js' %}"></script>
{% endblock %}